@page "/facedetection"
@inject IJSRuntime JS
@inject NavigationManager Navigation

<PageTitle>FaceDetection</PageTitle>

<div class="row">
    <canvas class="col-12" id="canvas" width="640" height="360" style="max-height: 1280px; max-width: 720px;"></canvas>
    <video id="video" autoplay hidden width="640" height="360" style="width: 100%; max-width: 1280px; max-height: 720px;"></video>
    <p class="fs-2 ms-3 p-2" id="facesDetected" style="position: absolute; background-color: hsla(0, 0%, 100%, 0.7);">Faces Detected: 0</p>
</div>


@code {
    private int? intervalId;

    protected override void OnInitialized()
    {
        Navigation.LocationChanged += StopDetection;

    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await JS.InvokeVoidAsync("startVideo", "video");
        intervalId = await JS.InvokeAsync<int>("startDetection", "video", "canvas", "facesDetected");
        await base.OnAfterRenderAsync(firstRender);
    }

    private void StopDetection(object? sender, LocationChangedEventArgs e)
    {
        JS.InvokeVoidAsync("stopDetection", intervalId);
        intervalId = null;
    }


    

}
