@page "/"

<PageTitle>Home</PageTitle>

<div class="row m-4">
    
    <h1 class="mb-2">Sandbox Applications</h1>
    <p class="lead">Experimental applications for testing use-cases and functionality.</p>

</div>

